body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  padding: 9px;
  width: 100%;
  height: 36px;
  background-color: #3C455C;
}

#calendar-container {
  position: fixed;
  top: 54px;
  padding: 24px 0;
  width: 100%;
  height: 48px;
  background-color: #B37C57;
}

#day-summary-container {
  position: fixed;
  top: 150px;
  bottom: 60px;
  width: 100%;
  padding: 6px 0 36px 0;
  background-color: #DDE2E3; 
  overflow: scroll;   
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #60412B;
}

h1 {
  color: #FFFFFF;
  font-size: 28px;
  margin: 0;
}

#calendar-container h2 {
  margin: 0;
  font-size: 36px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 6px;
  margin: 12px auto;
  width: calc(100% - 36px);
  max-width: 600px;
  background-color: #9AACB8;
  border-radius: 6px;
}

.name-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 24px;
  overflow: hidden;
}

h5 {
  color: #FFFFFF;
  margin: 6px;
}

.card-name {
  width: 75%;
}

.card-time {
  width: 25%;
}

.card-container button {
  background-color: #DDE2E3; 
  border-radius: 50%;
  border: none; 
  cursor: pointer;
  outline: none;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  width: 24px;
  height: 24px;
}

button.edit-card {
  padding-bottom: 6px;
  font-size: 16px;
}

button.delete-card {
  font-size: 20px;
}

footer {
  padding: 10px 0;
}

footer img {
  width: 48px;
  height: 48px;
  margin: 6px;
  cursor: pointer;
}

button.add-button {
  width: 80px;
  height: 80px;
  margin-top: -30px;
  background-color: #B37C57;
  font-size: 60px;
  font-weight: bolder;
  border: solid white 1px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
