body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  padding: 9px;
  width: 100%;
  height: 36px;
  background-color: #3C455C;
}

#calendar-container {
  position: fixed;
  top: 54px;
  padding: 24px 0;
  width: 100%;
  height: 48px;
  background-color: #B37C57;
}

#day-summary-container {
  position: fixed;
  top: 150px;
  bottom: 60px;
  width: 100%;
  padding: 6px 0 36px 0;
  background-color: #DDE2E3; 
  overflow: scroll;   
}

#food-form-container {
  position: fixed;
  bottom: -280px;
  left: 50%;
  padding: 18px 18px 0 18px;
  margin: 0 auto 0 -45%;
  width: calc(90% - 36px);
  height: 280px;
  background-color: #FFFFFF;
  border-radius: 12px 12px 0 0;
  transition: bottom 500ms linear;
  }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #60412B;
}

h1 {
  color: #FFFFFF;
  font-size: 28px;
  margin: 0;
}

#calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-dates-container {
  /* width: 80%; */
}

img.calendar-button {
  margin: 0 10px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #000000;
}

#calendar-container h2 {
  margin: 8px 0;
  font-size: 24px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 6px;
  margin: 12px auto;
  width: calc(100% - 36px);
  max-width: 600px;
  background-color: #9AACB8;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888888;
}

.card-container-visible {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-container.reaction {
  background-color: #60412B;
}

.card-container.status {
  display: none;
  background-color: #3C455C;
}

#foods-status {
  text-align: center;
}

.name-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 26px;
  margin-right: 6px;
  overflow: hidden;
}

h5 {
  color: #FFFFFF;
  margin: 2px;
  font-size: 18px;
}

.card-name {
  width: 70%;
}

.card-time {
  width: 25%;
}

.card-container button {
  margin-left: 12px;
  width: 100px;
  height: 24px;
  margin: 0 18px;
  background-color: #DDE2E3; 
  border-radius: 5px;
  border: none; 
  outline: none;
  cursor: pointer;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 3px 3px 3px #333333;  
}

.card-container img {
  width: 26px;
  height: 26px;
  margin: 0 6px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px #333333;
  cursor: pointer;
}

footer {
  padding: 10px 0;
}

footer img {
  width: 48px;
  height: 48px;
  margin: 6px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #000000;  
}

button.add-button {
  width: 80px;
  height: 80px;
  margin-top: -30px;
  background-color: #B37C57;
  font-size: 60px;
  font-weight: bolder;
  border: solid white 1px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  outline: none;
}

.food-form-tabs-container {
  display: flex;
  flex-direction: row;
}

.food-form-tab {
  width: 50%;
  height: 40px;
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #DDDDDD;
  border-top-left-radius: 12px;
  cursor: pointer;
}

.add-food-tab.selected-tab {
  background-color: #9AACB8;
  color: #000000;
  text-decoration: underline;
}

.add-reaction-tab.selected-tab {
  background-color: #60412B;
  text-decoration: underline;
}

h4 {
  margin: 10px;
  font-size: 16px;
}

#food-form-fields-container {
  background-color: #B37C57;
  padding: 24px;
}

#food-form-fields-container input {
  width: 50%;
  height: 48px;
  font-size: 24px;
  text-align: center;
}

#food-form-fields-container input::placeholder {
  font-size: 24px;
}

#food-form-fields-container input[name=name] {
  width: 100%;
  margin: 0 0 24px 0;
}

#food-form-fields-container button {
  margin: 0 0 0 24px;
  width: calc(50% - 30px);
  height: 54px;
  background-color: #3C455C;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

#food-form-response-container {
  position: relative;
  top: -180px;
  padding: 24px;
  height: 132px;
  color: #FFFFFF;
  background-color: #B37C57;
  visibility: hidden;
}

.delete-dialog-container {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.delete-dialog-prompt {
  width: 50%;
}

.delete-dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  width: 40%;
}

.delete-dialog-prompt h5 {  
  color: #FFFFFF;
  text-shadow: 1px 1px #333333;
  font-size: 15px;
}
